$white: #ffffff;
$xx-light: #fafafa;
$x-light: #f6f6f6;
$light: #f0f0f0;
$mid-light: #888888;
$mid-dark: #555555;
$dark: #444444;
$blue: #229ffd;
$blueDark: #1a7fcc;
$headerBackground: linear-gradient(90deg, $blueDark 10%, $blue 90%); 
$headerHeight: 50px;
$sidebarMarginTop: 64px;
$headerClearance: #{$headerHeight + $sidebarMarginTop};
$mainWidth: 1150px;
$fontStack: proxima-nova, Helvetica, Verdana, Arial, "Lucida Grande", sans-serif;

//TODO: CLEAN THIS ALL UP AND MAKE RESPONSIVE ;)
// @media screen and (min-width: 1200px)
// .l-centered-content {
//     width: 960px;
// }

body {
  font-family: $fontStack;
  background-color: $x-light;
}

ul,
ol {
  list-style: none;
  list-style-image: none;
  padding: 0;
  margin: 0;
}

.l-centered-content {
  width: $mainWidth;
  margin-left: auto;
  margin-right: auto;
}

.top-nav {
  height: $headerHeight;
  padding: 0;
  background: $headerBackground;
  opacity: .95;
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  font-family: $fontStack;
  text-transform: uppercase;

  h1 {
    float: left;
    font-weight: 200;
    margin: 0;
    line-height: $headerHeight;
  }

  &:hover {
    opacity: 1;
  }

  * {
    color: $white;
    text-decoration: none;
  }    
}

.top-nav-list {
  margin: 0px 20px 0px 0px;
  padding: 0px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 18px;
  font-weight: 100;

  li {
    float: right;
    margin: 0px;

    &:hover {
      background: white;
      cursor: pointer;

      a {
        color: $blue;
      }
    }
  }

  a {
    transition-property: all;
    transition-duration: .3s;
    font-weight: 300;
    display: inline-block;
    line-height: $headerHeight;
    padding: 0px 10px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;

    &:hover {
      background: white;
      cursor: pointer;
    }
  }
}

.l-pinned-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 12;
}


///////////////////////////////////////////////////

.tdcss-header,
.tdcss-subheader-nav {
  visibility: hidden;

  &.loaded {
    visibility: visible;
  }
}

div[role=main] {
  visibility: hidden;

  &.loaded {
    visibility: visible;
    padding-top: $headerHeight;
  }

  //Also hide the container sibling to main
  & + .tdcss-container {
    visibility: hidden;

    &.loaded {
      visibility: visible;
    }

  }
}

.tdcss-header-container {
  position: relative;
  width: 1280px;
  margin: 0 auto;
}

.tdcss-container {
  position: relative;
  display: none;
  margin: 0 auto;
  position: relative;
  width: $mainWidth;

  &.loaded {
    display: block;
  }
}

.tdcss-elements {
  display: inline-block;
  float: none; //override tdcss
  width: 920px;
  padding-left: 30px;

  p {
    margin-bottom: 18px;
  }
}

.tdcss-navigation {
  display: inline-block;
  width: 225px;
  margin-top: $headerClearance;

  .tdcss-nav-category {
    padding-left: 0;//override tdcss

    > .active {

      .tdcss-nav {
        padding-left: 50px;


        .tdcss-section-title > a {
          font-family: $fontStack;
          font-size: 14px;
          width: 100%;
          height: 35px;
          line-height: 35px;
          display: inline-block;
        }
      }
    }
  }

  .tdcss-nav > li {
    width: 100%;
  }
  .tdcss-nav-category li {
    padding-top: 0;
    padding-bottom: 0;
  }

  .tdcss-html-toggle {
    padding-left: 20px; //override tdcss
  }

  .tdcss-html-snippet-toggle {
    font-weight: 300;
    color: $blue;

    &:hover {
      color: $blueDark;
    }
  }
}

.tdcss-html-toggle {
  background-color: $white;
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
}

.tdcss-html-toggle,
.tdcss-category-title,
.tdcss-nav-category {
  font-family: $fontStack;
  font-size: 14px;
  font-weight: 300;
  background-color: $white;
  border-left: 1px solid $light;
  border-right: 1px solid $light;

  &:last-child {
    border-bottom: 1px solid $light;
    border-top: none;
  }
}

.tdcss-nav-category {
  border-top: 1px solid $light;
}
.tdcss-category-title {
  padding-top: 20px;
  padding-bottom: 22px;
  padding-left: 20px;
  font-family: $fontStack;
}

.tdcss-elements p {
  margin-bottom: 18px;
}

//TDCSS CSS Overrides
.tdcss-header {
  // background-color: $sgHeader;
  height: 550px;
  width: 100%;

  .logo {
    position: absolute;
    top: 33px;
    left: 94px;
    opacity: .75;
    transition: opacity .4s;
    z-index: 1;

    &:hover {
      opacity: 1;
    }
  }
}
.tdcss-subheader-nav {
  height: 44px;
  .active {
    // border-bottom: 4px solid $mavenHeader;
  }
}
//tdcss font overrides
div[class^="tdcss"], .tdcss-h3 {
  font-family: inherit;
}

.category {
  border-top: 1px solid $light;
  border-bottom: 1px solid $light;

  //Makes first category have clearance from fixed header, consistent with left sidebar
  &:first-child {
    margin-top: $headerClearance;
  }
}

.tdcss-description,
.tdcss-category-wrap,
.tdcss-section,
.tdcss-top,
.tdcss-fragment {
  background-color: $white;
  padding: 0 35px 30px;
  border-left: 1px solid $light;
  border-right: 1px solid $light;
}

.tdcss-fragment-title:empty {
  padding: 0;
  margin: 0; 
}

.tdcss-section {
  padding-top: 60px;
}

.tdcss-category-wrap {
  padding: 30px 35px;
  border-bottom: 1px solid $light;
  background-color: $xx-light;
  margin-top: 80px;
}

.tdcss-category-wrap + .tdcss-top {
    padding-top: 20px;
}

.tdcss-section .tdcss-bookmarkable {
  position: absolute;
  top: auto;
  left: 9px;
  bottom: 15px;
}

.tddcss-top-link {
  float: right;
  color: $dark;
  opacity: .7;
  transition: opacity .4s ease-out;

  &:hover {
    opacity: 1;
    text-decoration: none;
  }
}

.tdcss-description {
  margin-bottom: 0;
  padding-bottom: 1em;
  border-bottom: none;

  & + .tdcss-top {
    display: none;
  }

  pre, .codeword {
    border-radius: 2px;
  }

  pre {
    border: 1px solid $light;
    font-size: 14px;
    line-height: 20px;
    overflow: auto;
    padding: 6px 10px;
    margin: 15px 0;
  }

  .codeword {
    padding: 3px 2px;
    margin: 0;
    font-size: 90%;
  }
}

div[class^="tdcss"] {
  .tdcss-description,
  .tdcss-elements p,
  .tdcss-description p {
    font-family: $fontStack;
    font-size: 14px;
    line-height: 2;
    font-weight: 300;
  }
}

.tdcss-description,
.language-markup {
  ul {
    list-style: disc inside;
  }
}

.language-javascript,
.language-coffeescript,
.language-markup {
  font-size: 13px;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  border: 1px solid $light;
}

// Inline code
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal;
}


.tdcss-nav, .tdcss-subheader-nav, .tdcss-h3 {
  font-size: 14px !important;
}

.tdcss-dom-example {
  background-color: transparent !important;
  
  z-index: 11;
  h6 {
    margin: 10px 0;
  }
  .field-radio-container {
    label {
      margin-right: 10px;
    }
  }
}

.tdcss-code-example {
  z-index: 10;

  .tdcss-copy-btn {
    background-color: $blue;
    color: $white;
  }

}

.tdcss-category .tdcss-h2,
.tdcss-section .tdcss-h2 {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: inherit;
  transition: none;
  background-color: inherit;
  letter-spacing: inherit;
  color: $mid-light;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 300;

}

.tdcss-section .tdcss-h2:after {
  float: none;
  padding: 0;
  font-size: inherit;
  content: none;
}

.tdcss-section.is-collapsed .tdcss-h2:after {
  content: none;
}

.tdcss-section:hover .tdcss-h2 {
  background-color: inherit;
}

.footer,
.footer {
  clear: both;
  color: #a9adb1;
  background-color: #333333;
  text-align: center;
  height: 100px;
  padding: 20px 0;
}

.footer a {
  color: #a9adb1;
  opacity: .8;
  transition: opacity .4 ease-out;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    opacity: 1;
  }
}

////////////// PRISM THEME ////////////////
/**
 * VS theme by Andrew Lock (https://andrewlock.net)
 * Inspired by Visual Studio syntax coloring
 */

code[class*="language-"],
pre[class*="language-"] {
    color: #393A34;
    font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
    direction: ltr;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    font-size: 0.95em;
    line-height: 1.2em;

    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;

    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
    background: #0000ff;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
    background: #0000ff;
}

/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto;
    border: 1px solid #dddddd;



//HACK EDIT
    background-color: rgba(34, 159, 253, .025);
//ENDS: HACK EDIT

}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
}

/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .2em;
    padding-top: 1px; padding-bottom: 1px;
    background: #f8f8f8;
    border: 1px solid #dddddd;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: #008000; font-style: italic;
}

.token.namespace {
    opacity: .7;
}

.token.string {
    color: #A31515;
}

.token.punctuation,
.token.operator {
    color: #393A34; /* no highlight */
}

.token.url,
.token.symbol,
.token.number,
.token.boolean,
.token.variable,
.token.constant,
.token.inserted {
    color: #36acaa;
}

.token.atrule,
.token.keyword,
.token.attr-value,
.language-autohotkey .token.selector,
code[class*="language-css"] {
    color: #0000ff;
}

.token.function {
    color: #393A34;
}
.token.deleted,
.language-autohotkey .token.tag {
    color: #9a050f;
}

.token.selector,
.language-autohotkey .token.keyword {
    color: #00009f;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.class-name {
    color: #2B91AF;
}

.token.tag,
.token.selector {
    color: #800000;
}

.token.attr-name,
.token.property,
.token.regex,
.token.entity {
    color: #ff0000;
}

.token.directive.tag  .tag {
    background: #ffff00;
    color: #393A34;
}










