<div id="tdcss" role="main">

<!-- @ Logins -->
<!-- # Small -->
<!-- : ; 100% -->
<form class="form form-panel form-panel-small form-panel-centered">
  <div class="form-panel-header">
    <h3>Sign In</h3>
  </div>
  <div class="form-panel-body">
    <label for="login1">Email</label>
    <input class="form-input-block" id="login1" name="login" type="text">
    <label for="password1">Password</label>
    <input class="form-input-block" id="password1" name="password" type="password">
    <button class="button button-block button-rounded button-primary">Sign In</button>
  </div>
</form>

<!-- # Medium -->
<!-- : ; 100% -->
<form class="form form-panel form-panel-normal form-panel-centered">
  <div class="form-panel-header">
    <h3>Sign In</h3>
  </div>
  <div class="form-panel-body">
    <label for="login2">Email</label>
    <input class="form-input-block" id="login2" name="login" type="text">
    <label for="password2">Password</label>
    <input class="form-input-block" id="password2" name="password" type="password">
    <button class="button button-block button-rounded button-primary">Sign In</button>
  </div>
</form>

<!-- # Large -->
<!-- : ; 100% -->
<form class="form form-panel form-panel-large form-panel-centered">
  <div class="form-panel-header">
    <h3>Sign In</h3>
  </div>
  <div class="form-panel-body">
    <label for="login3">Email</label>
    <input class="form-input-block" id="login3" name="login" type="text">
    <label for="password3">Password</label>
    <input class="form-input-block" id="password3" name="password" type="password">
    <button class="button button-block button-rounded button-primary">Sign In</button>
  </div>
</form>

<!-- # Full Width -->
<!-- & <p>If you  don't add a form-panel-SIZE class, it'll take up 100% width.</p> -->
<!-- : ; 100% -->
<form class="form form-panel">
  <div class="form-panel-header">
    <h3>Sign In</h3>
  </div>
  <div class="form-panel-body">
    <label for="login4">Email</label>
    <input class="form-input-block" id="login4" name="login" type="text">
    <label for="password4">Password</label>
    <input class="form-input-block" id="password4" name="password" type="password">
    <button class="button button-block button-rounded button-primary">Sign In</button>
  </div>
</form>

<!-- @ Grouped -->
<!-- # Rectangular -->
<!-- : ; 100% -->
<form class="form">
  <fieldset class="form-grouped">
    <input name="username" type="text" placeholder="Username">
    <input name="login" type="text" placeholder="Email">
    <input name="password" type="password" placeholder="Password">
  </fieldset>
  <button class="button button-block button-primary button-full">Sign In</button>
</form>

<!-- # Rounded -->
<!-- : ; 100% -->
<form class="form">
  <fieldset class="form-grouped form-grouped-rounded">
    <div class="form-field-group icon-right">
      <input name="username" type="text" placeholder="Username">
      <i class="fa fa-user"></i>
    </div>
    <div class="form-field-group icon-right">
      <input name="login" type="text" placeholder="Email">
      <i class="fa fa-envelope"></i>
    </div>
    <div class="form-field-group icon-right">
      <input name="password" type="password" placeholder="Password">
      <i class="fa fa-lock"></i>
    </div>
  </fieldset>
  <button class="button button-block button-rounded button-primary button-full">Sign In</button>
</form>

<!-- # Panel -->
<!-- : ; 100% -->
<form class="form form-panel panel-demo-login">
  <div class="form-panel-header">
    <h3>Sign In</h3>
  </div>
  <div class="form-panel-body">
    <fieldset class="form-grouped form-grouped-block form-grouped-rounded">
      <input name="username" type="text" placeholder="Username">
      <input name="login" type="text" placeholder="Email">
      <input name="password" type="password" placeholder="Password">
    </fieldset>
    <a href="#" class="button button-block button-primary button-rounded">Sign In</a>
  </div>
</form>

<!-- @ Inline -->
<!-- # Inline Form -->
<!-- : ; 100% -->
<form class="form form-panel">
  <div class="form-panel-header">
    <h2>Inline Form</h2>
  </div>
  <div class="form-panel-body">
    <label>Email</label>
    <input type="text">
    <label>Password</label>
    <input type="password">
    <input id="remember" type="checkbox">
    <label for="remember">Remember me</label>
    <button class="button button-rounded button-primary">Sign In</button>
  </div>
</form>

<!-- @ Inputs -->
<!-- # Core -->
<!-- : ; 100% -->
<ul>
  <li class="form">
    <div class="form-field-group icon-left">
      <input class="form-field-box clearfix" type="text" name="text" placeholder="Icon Left">
      <i class="fa fa-user"></i>
    </div>
  </li>
  <li class="form">
    <div class="form-field-group icon-right">
      <input class="form-field-box clearfix" type="password" name="text" placeholder="Icon Right">
      <i class="fa fa-lock"></i>
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="form-field-box clearfix" type="text" name="text" placeholder="Box Input">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="form-field clearfix" type="text" name="text" placeholder="Vanilla Input">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="form-field-pill clearfix" type="text" name="text" placeholder="Pill Input">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="form-field-line clearfix" type="text" name="text" placeholder="Line Input">
    </div>
  </li>
</ul>

<!-- # HTML5 -->
<!-- : ; 100% -->
<ul>
  <li class="form">
    <div class="form-field-group">
      <input class="email form-field clearfix" type="email" name="email" placeholder="Email">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="password form-field clearfix" type="password" name="password" placeholder="Password">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="date form-field clearfix" type="date" name="date">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="time form-field clearfix" type="time" name="time" value="11:59:59">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="url form-field clearfix" type="url" name="url" placeholder="URL field">
    </div>
  </li>
</ul>
<ul>
  <li class="form">
    <div class="form-field-group">
      <input class="search form-field clearfix" type="search" name="search" placeholder="Search...">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="number form-field clearfix" type="number" name="number" min="1" max="10" step="2" value="6">
    </div>
  </li>
</ul>


<!-- @ Jump Inputs -->
<!-- & <p>Jump inputs expand and change color on focus (à la Google Hangouts).  -->
<!-- : ; 100% -->
<ul>
  <li class="form">
    <div class="form-field-group">
      <input class="form-field-line form-field-jump clearfix" type="text" name="text" placeholder="Line Input">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="form-field-box form-field-jump clearfix" type="text" name="text" placeholder="Box Input">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group">
      <input class="form-field form-field-jump clearfix" type="text" name="text" placeholder="Vanilla Input">
    </div>
  </li>
  <li class="form">
    <div class="form-field-group icon-left">
      <input class="form-field-box form-field-jump clearfix" type="text" name="text" placeholder="Icon Left">
      <i class="fa fa-user"></i>
    </div>
  </li>
  <li class="form">
    <div class="form-field-group icon-right">
      <input class="form-field-box form-field-jump clearfix" type="password" name="text" placeholder="Icon Right">
      <i class="fa fa-lock"></i>
    </div>
  </li>
</ul>



</div><!-- ENDS TDCSS -->


