<div id="tdcss" role="main">

<!-- @ Logins -->
<!-- # Small -->
<!-- : ; 100% -->
<form class="form form-panel form-panel-small form-panel-centered panel-demo-login">
  <div class="form-panel-header">
    <h3>Sign In</h3>
  </div>
  <div class="form-panel-body">
    <label for="login1">Email</label>
    <input class="form-input-block" id="login1" name="login" type="text">
    <label for="password1">Password</label>
    <input class="form-input-block" id="password1" name="password" type="password">
    <button class="button button-block button-rounded button-primary">Sign In</button>
  </div>
</form>

<!-- # Medium -->
<!-- : ; 100% -->
<form class="form form-panel form-panel-normal form-panel-centered panel-demo-login">
  <div class="form-panel-header">
    <h3>Sign In</h3>
  </div>
  <div class="form-panel-body">
    <label for="login2">Email</label>
    <input class="form-input-block" id="login2" name="login" type="text">
    <label for="password2">Password</label>
    <input class="form-input-block" id="password2" name="password" type="password">
    <button class="button button-block button-rounded button-primary">Sign In</button>
  </div>
</form>

<!-- # Large -->
<!-- : ; 100% -->
<form class="form form-panel form-panel-large form-panel-centered panel-demo-login">
  <div class="form-panel-header">
    <h3>Sign In</h3>
  </div>
  <div class="form-panel-body">
    <label for="login3">Email</label>
    <input class="form-input-block" id="login3" name="login" type="text">
    <label for="password3">Password</label>
    <input class="form-input-block" id="password3" name="password" type="password">
    <button class="button button-block button-rounded button-primary">Sign In</button>
  </div>
</form>

<!-- # Jumbo -->
<!-- : ; 100% -->
<form class="form form-panel form-panel-jumbo form-panel-centered panel-demo-login">
  <div class="form-panel-header">
    <h3>Sign In</h3>
  </div>
  <div class="form-panel-body">
    <label for="login4">Email</label>
    <input class="form-input-block" id="login4" name="login" type="text">
    <label for="password4">Password</label>
    <input class="form-input-block" id="password4" name="password" type="password">
    <button class="button button-block button-rounded button-primary">Sign In</button>
  </div>
</form>


</div><!-- ENDS TDCSS -->
