<nav class="top-nav l-pinned-top">
  <div class="background-mantle top-nav-stripe"></div>
  <div class="l-centered-content">
    <h1><a href="/">Unicorn UI</a></h1>
    <button class="top-nav-menu-button button button-rounded button-small button-uppercase">Menu <i class="fa fa-caret-down"></i></button>
    <ul id="top-nav-list">
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
</nav>