<nav class="top-nav l-pinned-top">
  <div class="l-centered-content">
    <h1><a href="/"><%= siteTitle %></a></h1>
    <ul id="top-nav-list" class="top-nav-list">
      <li><a href="http://unicorn-ui.com/blog">Blog</a></li>
    </ul>
  </div>
</nav>