
////////////////////////////////////////////
// LINE INPUTS /////////////////////////////
////////////////////////////////////////////

&#{$uforms-namespace}-field-line {
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;

  &:focus,
  &.focus {
    box-shadow: 0px 1px 0px rgba(0,0,0,.1);
  }
}
