
////////////////////////////////////////////
// PILL INPUTS /////////////////////////////
////////////////////////////////////////////

#{$uforms-namespace}-field-pill {
  border-radius: $uforms-input-height + 5px;
  padding: $uforms-input-padding + 4px;
}

